<%- include header %>
<form method="post" class="login">
  用户名：<input type="text" name="name" class="username"/><br />
  <span class="pwd">密   码：</span><input type="password" name="password" class="password"/><br />
          <input type="submit" value="登录" class="reg"/>
</form>
<%- include footer %>