<%- include header %>
<form method="post">
  <span class="pwd">用  户  名：</span><input type="text" name="name" class="username"/><br />
  <span class="pwd">密       码：</span><input type="password" name="password" class="password"/><br />
  确认密码：<input type="password" name="password-repeat" class="password"/><br />
  <span class="pwd">邮       箱：</span><input type="email" name="email" class="password"/><br />
            <input type="submit" value="注册" class="reg"/>
</form>
<%- include footer %>